body{
    background-color:thistle;
}
#heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
#maindiv{
    height: 400px;
    width: 600px;
    background-color: blueviolet;
    border-style: solid;
    border-color: white;
}
#field{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 20px;
}
#data{
    margin-top: 20px;
}
#name{
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#img{
    margin-top: 20px;
}
#image{
    height: 150px;
    width: 150px;
}
#button{
    margin-top: 20px;
}
#btn{
    height: 40px;
    width: 100px;
    font-size: 13px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:thistle;
}
#btn:hover{
    background-color:yellowgreen;
    color: white;
    border-style: solid;
    border-color: white;
    transition: 0.2s;
}